@model Turista
@{
    ViewData["Title"] = "Datos del Usuario";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <h1>@ViewData["Title"]</h1>

        <form method="post">
            <div class="form-group">
                <label>Nombre:</label>
                <input asp-for="@Model.NombreTurista" class="form-control">
            </div>
            <div class="form-group">
                <label>Apellido:</label>
                <input asp-for="@Model.ApellidoTurista" class="form-control">
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input asp-for="@Model.EmailTurista" class="form-control">
            </div>
            <div class="form-group">
                <label>Teléfono:</label>
                <input asp-for="@Model.TelefonoTurista" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">crear cuenta</button>
        </form>

    </body>
</html>