@model List<Sucursal>
@{
    ViewData["Title"] = "Sucursales";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Dirección</th>
                <th scope="col">Teléfono</th>
            </tr>
        </thead>
        <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <th scope="row">@item.IdSucursal</th>
                        <td>@item.DireccionSucursal</td>
                        <td>@item.TelefonoSucursal</td>
                    </tr>
                }
        </tbody>
    </table>

</body>
</html>