@using MVC_TouristBay.Utils;
@model Hotel
@{
    ViewData["Title"] = "Nuevo Hotel";
    List<Ciudad> ciudades = ListaCiudades.Instancia().Ciudades;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>

    <h1>@ViewData["Title"]</h1>

    <form method="post">
        <div class="form-group">
            <label>Nombre:</label>
            <input asp-for="@Model.NombreHotel" class="form-control">
        </div>
        <div class="form-group">
            <label>Dirección:</label>
            <input asp-for="@Model.DireccionHotel" class="form-control">
        </div>
        <label>Ciudad:</label>
        <select class="select" name="CiudadHotel">
            @foreach(var item in ciudades)
            {
                <option value="@item.IdCiudad">@item.NombreCiudad</option>
            }
        </select>
        <div class="form-group">
            <label>Teléfono:</label>
            <input asp-for="@Model.TelefonoHotel" class="form-control">
        </div>
        <div class="form-group">
            <label>Plazas:</label>
            <input asp-for="@Model.PlazasHotel" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Añadir</button>
    </form>

    <a type="button" class="btn btn-outline-primary" asp-action="Index">Regresar</a>

</body>
</html>
