@model Hotel
@{
    ViewData["Title"] = "Detalles Hotel";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>

    <h1>@ViewData["Title"]</h1>

    <table class="table">
        <tbody>
            <tr>
                <td>Nombre:</td>
                <td>@Model.NombreHotel</td>
            </tr>
            <tr>
                <td>Dirección:</td>
                <td>@Model.DireccionHotel</td>
            </tr>
            <tr>
                <td>Ciudad:</td>
                <td>@Model.obtenerCiudad()</td>
            </tr>
            <tr>
                <td>Teléfono:</td>
                <td>@Model.TelefonoHotel</td>
            </tr>
            <tr>
                <td>Plazas:</td>
                <td>@Model.PlazasHotel</td>
            </tr>
        </tbody>
    </table>

    <a type="button" class="btn btn-outline-primary" 
        asp-action="Index">
        Regresar
    </a>

</body>
</html>