@model List<Hotel>
@{
    ViewData["Title"] = "Hoteles";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>

    <h1>@ViewData["Title"]</h1>
    
    <a type="button" class="btn btn-primary" 
    asp-controller="Hotel" asp-action="Create">
            Añadir hotel
    </a>

    <div class="container img-thumbnail">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top" src="@item.ImagenHotel" alt="Descripción Imagen">
                        <div class="card-body">
                            <h5 class="card-title">@item.NombreHotel</h5>
                            <p class="card-text">@item.obtenerCiudad()</p>
                            <a type="button" class="btn btn-primary"
                                asp-route-IdHotel="@item.IdHotel" asp-action="Details">
                                Más Información >
                            </a>
                            <a type="button" class="btn btn-warning"
                               asp-route-IdHotel="@item.IdHotel" asp-action="Edit">
                                Editar
                            </a>
                            <a type="button" class="btn btn-danger"
                               asp-route-IdHotel="@item.IdHotel" asp-action="Delete">
                                Eliminar
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</body>
</html>