@model List<Hotel>
@{
    ViewData["Title"] = "Hoteles";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>

    <h1>@ViewData["Title"]</h1>
    
    <a type="button" class="btn btn-primary" 
    asp-controller="Hotel" asp-action="Create">
            Añadir hotel
    </a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <th scope="row">@item.IdHotel</th>
                        <td>@item.NombreHotel</td>
                        <td>@item.obtenerCiudad()</td>
                        <td>
                            <a type="button" class="btn btn-primary"
                            asp-route-IdHotel="@item.IdHotel" asp-action="Details">
                                    Visualizar</a>
                            <a type="button" class="btn btn-warning" 
                            asp-route-IdHotel="@item.IdHotel"  asp-action="Edit">
                                    Editar</a>
                            <a type="button" class="btn btn-danger" 
                            asp-route-IdHotel="@item.IdHotel" asp-action="Delete">
                                    Eliminar</a>
                        </td>
                    </tr>
                }
        </tbody>
    </table>

</body>
</html>